.sect1 {
	page-break-inside: avoid;
	clear: both;
}

.sectionbody {
	page-break-before: avoid;
}

body, h1, h2, h3, span#author, span#revdate {
	font-family: "Lucida Grande", sans-serif;
}

h1 {
	color: #3A3F44;
}

h2 {
	color: #000;
	page-break-after: avoid;
}

strong, b, span#author {
	color: #860404; 
}

pre, code {
	font-family: Menlo, monospace;
	font-weight: normal;
	color: #000;
}

.pre, pre code {
	white-space: pre-wrap;
	font-family: Menlo, monospace !important;
	display: block;
	position: relative;
	text-align: left;
	line-height: 1.3em;
	padding: 2pt 6pt 3pt !important;
	margin: 8px 0 20px;
	font-size: 0.9em;
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	background-color: #F2F2F2;
}

.left {
	display: inline-block;
/* 	float: left; */
	position: relative;
	width: 45%;
	margin-right: 15px;
	margin-top: 0 !important;
}

.right {
	display: inline-block;
/* 	float: left; */
	width: 45%;
	margin-right: 0;
	padding-right: 0;
	vertical-align: top;
}

.right ul {
	margin-top: 8px;
}

svg {
	width: 80% !important;
	height: 80% !important;
}

img {
	width: 80%;
	height: 80%;
}

@media print {

	pre, pre code, pre svg {
		-webkit-print-color-adjust: exact;
		background-color: #F2F2F2 !important;
	}

	.sect1, .sectionbody {
		margin-bottom: 2cm;
	}
}




